
img {
    float: center;
}
p{
    text-align: center;
}
.title{
    color: white;
    font-family: arial;
    text-align: center;
}
header {
    background-color: purple;
    padding: 1px;
    font-size: 24px;
}

.chooselib{
    text-align: center;
    align-items: center;
    font-size: 32px;
    font-family: arial;
}

button{
    display: block;
    width: 414px;
    margin: auto;
    background-color: purple;
    color: #FFF;
    font-family: arial;
    height: 45px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 28px;
}

button:hover {background-color:#4B0082}
form input{
    display: block;
    width: 400px;
    height: 40px;
    margin: auto;
    border-color: purple;
    border-width: 1px;
    border-radius: 4px;
    font-family: Arial;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
    
}